# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ASP.NET / C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vscode/
*.vspscc
*.vssscc
*.dbmdl
*.pdb
*.cache
*.log

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Publicaciones
*.publishsettings
*.pubxml
*.publish.xml

# Otros
.env
*.swp
*.bak
*.tmp
